// -----------------------------------------------------------------------------
// Sélecteurs centralisés et réutilisables
// -----------------------------------------------------------------------------

.blend-mode-difference {
    color: $white;
    mix-blend-mode: difference;
}

//-------------------------
// Marges
//-------------------------
.text-border {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $white;
    mix-blend-mode: difference;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

//-------------------------
// Tags
//-------------------------
.tags {
    // Flex
    display: flex;
    flex-wrap: wrap;
    // Mode de fusion
    @extend .blend-mode-difference;

    li {

        // Pipe séparateur
        &:not(:last-child):after {
            display: inline-block;
            content: "";
            height: 70%;
            width: .3rem;
            background-color: $white;
            margin: 0 1rem;
        }
    }
}