// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

footer#contact {
    // Taille
    min-height: 100vh;
    // Fond
    background: $black;
    // Marges
    padding: 0 10%;
    // Flex
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // Cacher les éléments qui sont en absolute
    position: relative;
    z-index: 8;

    p:first-child {
        // Fonts
        font-size: 4.5rem;
        text-transform: uppercase;
        color: $white;
        // Marges
        padding: 10% 0;
    }

    div {
        hr {
            // Marges
            margin: 1rem 0;
            // Border
            height: 0.1px;
            background-color: $grey;
            border: none;
        }

        article {
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            // Marges
            margin-bottom: 2%;

            ul {
                // Flex
                display: flex;
                flex-wrap: wrap;
                // Font
                text-transform: uppercase;

                a {
                    @include links($white, $grey);
                    margin-right: 1rem;
                }
            }

            p {
                font-size: .7rem;
                color: $grey;
            }
        }
    }

    //-------------------------
    // Responsive
    //-------------------------
    @include responsive("md-desktop") {
        min-height: inherit;
        padding-top: 1.5rem;

        p:first-child {
            font-size: inherit;
            padding: 0;
        }

        div {
            hr {
                margin: 1.5rem 0;
            }

            article {
                margin-bottom: 0;

                ul {
                    li {
                        margin-bottom: 1.5rem;
                    }
                }

                p {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}