// -----------------------------------------------------------------------------
// Header : Navigation
// -----------------------------------------------------------------------------
header#header {
    // Fixed
    position: fixed;
    z-index: 10;
    // Flex
    display: flex;
    justify-content: space-around;
    align-items: center;
    // Tailles
    height: 5rem;
    width: 90%;
    // Différence
    mix-blend-mode: difference !important;
    // Centrer
    left: 50%;
    transform: translateX(-50%);

    h1 a .logo {
        width: 5rem;
    }

    ul {
        display: flex;
        justify-content: space-around;

        a,
        li,
        i {
            color: $white;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }
}