// -----------------------------------------------------------------------------
// Page : DES PROJETS
// -----------------------------------------------------------------------------

main#projets {
    aside.filter-buttons {
        // Element fixe
        position: fixed;
        right: 0;
        bottom: 6%;
        right: 2.5%;
        z-index: 6;
        // Fonts
        text-align: right;

        ul#filter-btns {
            li {
                // Fond
                background-color: $white;
                // Marges
                padding: 0 1rem;
                // Fonts
                text-transform: uppercase;
                // font-size: 74%;
                // Curseur
                cursor: pointer;

                &.active {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }

    section {
        a {
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Hover
            position: relative;
            z-index: 1;
            overflow: hidden;
            height: 10rem;
            transition: $transition;
            // Mix blend
            background-color: $white;

            picture, span {
                transition: $transition;
                //  Hover : Liens cachés
                opacity: 0;
            }

            header {
                // Flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a,
                p,
                h2,
                ul,
                li {
                    @extend .blend-mode-difference;
                }
            }

            picture {
                // Positionnement
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                // Centrer l'image
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                transition: $transition;

                picture, span {
                    transition: $transition;
                    opacity: 1;
                }
            }
        }
    }

    @include responsive("lg-desktop") {
        aside.filter-buttons {
            // Position
            position: relative;
            text-align: center;
            // Taille
            width: $container-md;
            // Marge
            margin: auto;
            padding: 3% 0;

            ul#filter-btns {
                // Flex
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    background: $white;
                    border: .01rem solid $black;
                    padding: .5rem 1rem;
                }
            }
        }

        section.col-10 {
            width: 100%;
        }
    }

    // @include responsive("sm-phone") {
    //     aside.filter-buttons {
    //         position: relative;
    //         top: auto;
    //     }
    // }
}