// -----------------------------------------------------------------------------
// Page : PROJETS
// -----------------------------------------------------------------------------

main#projets {
    aside.filter-buttons {
        // element fixe
        position: fixed;
        right: 0;
        bottom: 12%;
        right: 2.5%;
        z-index: 6;
        // Fonts
        text-align: right;
        // Fond
        // background-color: $black;

        ul#filter-btns {
            li {
                background-color: $white;
                cursor: pointer;
                padding: 0 1rem;
                text-transform: uppercase;

                &.active {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }

    section {
        article {
            // Marges
            // padding: 2rem 0;
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Hover
            position: relative;
            z-index: 1;
            overflow: hidden;
            height: 10rem;
            transition: $transition;
            // Mix blend
            background-color: $white;

            a {
                transition: $transition;
                //  Hover : Liens cachés
                opacity: 0;
            }

            header {
                // Flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a,
                p,
                h2,
                ul,
                li {
                    @extend .blend-mode-difference;
                }
            }

            a.image {
                // Positionnement
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                // Centrer l'image
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                transition: $transition;

                a {
                    transition: $transition;
                    opacity: 1;
                }
            }
        }
    }

    @include responsive("lg-desktop") {
        aside.filter-buttons {
            padding: 3% 0;
            position: sticky;
            top: 100px;
            text-align: center;
            // z-index: 6;
            width: 100%;
            // mettre container

            ul#filter-btns {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    background: $white;
                    border: .01rem solid $black;
                    padding: .5rem 1rem;
                }
            }
        }

        section.col-10 {
            width: 100%;
        }
    }

    @include responsive("sm-phone") {
        aside.filter-buttons {
            position: relative;
            top: auto;
        }
    }
}