// -----------------------------------------------------------------------------
// Page : SERVICES
// -----------------------------------------------------------------------------

main#services {
    section {
        article {

            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Taille
            // width: $container-sm;
            width: 95%;
            margin: auto;
            padding: 0 2%;


            p:first-child {
                font-size: 8rem;
                font-family: 'Lato', sans-serif;
                font-weight: $font-weight-black;
                margin-left: 2%;
                padding: 2rem 0;
            }

            div {
                width: 60%;
                margin-right: 2%;
            }
        }

        //-------------------------
        // Responsive
        //-------------------------
        @include responsive("sm-phone") {
            article {
                padding: 1rem;
                flex-wrap: wrap;

                p:first-child {
                    display: none;
                }

                div {
                    width: 100%;
                    margin: auto;

                    h2 {
                        // Marges
                        margin-bottom: .5rem;

                        &:before {
                            // Taille
                            width: 100%;
                            // Incrémentation titre : 1
                            counter-increment: numero-titre;
                            content: "0"counter(numero-titre)" - ";
                        }
                    }
                }
            }
        }
    }
}