// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

//-------------------------
// COULEURS
//-------------------------
// Base
$black: black;
$white: white;
$grey: #8C8C8C;
// SVG, Equivalent filter : https://codepen.io/sosuke/pen/Pjoqqp
$grey-svg: invert(58%) sepia(1%) saturate(954%) hue-rotate(47deg) brightness(96%) contrast(91%);

// Variables
$bg-color : $white;
$text-color : $black;
$hover-color : $black;


//-------------------------
// Marges
//-------------------------
// Taille
$container-md : 90%;

// Texte
$espace-titre: 5%;
$espace-texte: 10%;

// Container
$marge-header: 5rem;
$padding-container: 0 1.5rem;
$padding-container2: 0 2%;


//-------------------------
// Bordure
//-------------------------
$border: 2px solid $black;


//-------------------------
// Transition
//-------------------------
$transition: all .5s ease-in-out;


//-------------------------
// Responsive
//-------------------------
$breakpoints: (
    'sm-phone': 630px, // Small tablets and large smartphones (landscape view)
    'md-tablet': 768px, // Small tablets (portrait view)
    'md-desktop': 992px, // Tablets and small desktops
    'lg-desktop': 1024px, // Tablets and small desktops
    'xl-widescreen': 1200px // Large tablets and desktops
);