// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main#projet {

    margin-top: $marge-header;
    // a,
    // p,
    // h2,
    // ul,
    // li {
    //     @extend .blend-mode-difference;
    // }

    section {
        // Fond
        background-color: $white;
        // Marges
        padding: 1rem 0;

        header#projets-titre {
            // Bordures
            border-top: $border;
            // Marges
            // padding: 2rem 0;
        }

        // https://angrytools.com/css-grid/
        article#projet-info {
            // Bordures
            border-bottom: $border;
            // Marges
            // padding: 2rem 0;
            // Grid
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(5, 1fr);
            gap: 40px;
            // Taille
            height: 100%;
            // width: $container-sm;
            // Margin
            margin: 2rem 0;
            // background-color: grey;


            #projet-info-expertise {
                // background-color: #5DDBDD;
                // Grid : DEBUT Positionnement
                grid-row-start: 1;
                grid-column-start: 1;
                // Grid : FIN Positionnement
                grid-row-end: 2;
                grid-column-end: 2;
            }

            #projet-info-logiciels {
                // background-color: #283a0e;
                // Grid : DEBUT Positionnement
                grid-row-start: 2;
                grid-column-start: 1;
                // Grid : FIN Positionnement
                grid-row-end: 3;
                grid-column-end: 2;

            }

            #projet-info-missions {
                // background-color: #BB5EBC;
                // Grid : DEBUT Positionnement
                grid-row-start: 1;
                grid-column-start: 2;
                // Grid : FIN Positionnement
                grid-row-end: 2;
                grid-column-end: 4;

            }

            #projet-info-demarches {
                // background-color: #575B5D;
                // Grid : DEBUT Positionnement
                grid-row-start: 1;
                grid-column-start: 4;
                // Grid : FIN Positionnement
                grid-row-end: 3;
                grid-column-end: 6;
            }

            background-color: red;
            position: relative;
            z-index: 8;
        }

        .btn {
            position: fixed;
            z-index: 1;
            bottom: 0;
            right: 0;
        }
    }

    nav#pagination {
        // Taille
        height: 10rem;
        // Fond
        background-color: $white;
        // Cacher les éléments qui sont en absolute
        position: relative;
        z-index: 8;
        // Hover
        position: relative;
        // Flex
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        width: 100%;
        background-color: red;

        figure {
            color: blue;
            position: relative;
            padding: 4rem 4rem;

            img {
                // Taille
                width: 20rem;
                // Positionnement
                position: absolute;
                z-index: 1;
                // Centrer l'image
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // Hover    
                opacity: 0;
                mix-blend-mode: difference;
            }

            &:hover {
                // Image rotation
                transform: rotate(-15deg);
                // Mode de fusion
                mix-blend-mode: difference;
                color: $white;

                figcaption {
                    transform: rotate(15deg);
                }

                img {
                    opacity: 1;

                }
            }

            &:hover:nth-child(2n) {
                // Image rotation
                transform: rotate(15deg);

                figcaption {
                    transform: rotate(-15deg);
                }
            }
        }
    }
}