main {
    header.entete {
        // padding: 10% 20%;
        padding: 7rem 0;
        background-color: $black;
        // width: $container-sm;
        // Flex
        display: flex;
        justify-content: space-around;
        // flex-wrap: wrap;

        @for $i from 1 through 6 {

            p,
            h#{$i} {
                color: $white;
            }
        }
    }
}

main#services {
    section {

        // margin: 0 5%;
        article {
            // Bordures
            border-top: $border;
            border-bottom: $border;
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Taille
            width: $container-sm;
            margin: auto;
            ;

            p:first-child {
                font-size: 8rem;
                font-family: 'Lato', sans-serif;
                font-weight: $font-weight-black;
                margin-left: 2%;
                padding: 2rem 0;
            }

            div {
                width: 60%;
                margin-right: 2%;
            }
        }
    }

    margin-bottom: 2%;
    ;
}




main#projets {
    margin: 2% 0;

    aside {
        // element fixe
        position: fixed;
        right: 0;
        bottom: 0;
        // z-index: -1;
        // Fonts
        text-align: right;
        // Fond
        background-color: $black;
        color: $white;
        mix-blend-mode: difference;

        .link {
            text-decoration: none;
        }
    }

    section {
        // Marges
        margin: 10% 0;

        article {
            // Marges
            padding: 2rem 0;
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            // Hover
            position: relative;
            z-index: 1;
            overflow: hidden;
            height: 5rem;
            transition: $transition;
            // Mix blend
            background-color: $white;
            // Bordures
            border-top: $border;

            &:last-child {
                border-bottom: $border;
            }

            a {
                transition: $transition;
                //  Hover : Liens cachés
                opacity: 0;
            }

            header {
                // Flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a,
                p,
                h2,
                ul,
                li {
                    color: $white;
                    mix-blend-mode: difference;
                }

                ul {
                    display: flex;

                    li {

                        // Pipe séparateur
                        &:not(:last-child):after {
                            display: inline-block;
                            content: "";
                            height: 70%;
                            width: .3rem;
                            background-color: $white;
                            margin: 0 1rem;
                        }
                    }
                }
            }

            a.image {
                // Positionnement
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                // Centrer l'image
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover {
                transition: $transition;

                a {
                    transition: $transition;

                    opacity: 1;
                }
            }
        }
    }
}